
/*-------------------------------------------------
Globale Classes
-------------------------------------------------*/
*{padding:0; margin:0;}
body{color: #9b9e9a; background: #f0f0f0;}
.h1{color: #606d80; text-decoration: none; font-size: 1.5em; font-family: 'fonts/proxima-nova.otf', sans-serif; font-weight: normal; text-transform: uppercase; min-width: 17%;} 
.header{ margin-bottom: 10%; color: #606d80; letter-spacing: 0.107143em;}


.second-level-menu{position: relative; left: 0; list-style: none; display: none;}
.second-level-menu > li {position: relative; background: #f0f0f0; margin-left: 0.8em;}
.second-level-menu > li:hover { background: #f0f0f0;}

.top-level-menu {list-style: none;  width: 100%;}
.top-level-menu > li {margin-left: 10%; background: #f0f0f0; clear:left;}
.top-level-menu li:hover > ul {display: inline;}


/* Menu Link Styles */

.top-level-menu a 
{
    font-size: 1.3em;
	font-family: 'fonts/proxima-nova.otf', sans-serif;
    color: #8e959f;
    text-decoration: none;
	
    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 2.4em;
}
	
.top-level-menu a:hover { opacity: 0.65; }

.page {
	height: 50em;
	min-width: 60%;
	float: right;
	margin-right: 3%;
	margin-bottom: 10%;
	margin-top: 4%;
	position: relative;
	clear: right;
	background-color: #000000;
}

.menu {
	float:left; 
	clear: left;
	padding: 5% 0 5% 5%;
	
}
	
	
	
	
	
	