

*{padding:0; margin:0;}
body{color: #9b9e9a; background: #f0f0f0;}
.h1{color: #606d80; text-decoration: none; font-size: 150%; font-family: 'fonts/proxima-nova.otf', sans-serif; font-weight: normal; text-transform: uppercase; min-width: 17%;} 
.header{ margin-bottom: 10%; color: #606d80; letter-spacing: 0.107143em;}


.second-level-menu{position: relative; left: 0; list-style: none; display: none;}
.second-level-menu > li {position: relative; background: #f0f0f0; margin-left: 8%;}
.second-level-menu > li:hover { background: #f0f0f0;}


.top-level-menu {list-style: none;  width: 100%;}
.top-level-menu > li {margin-left: 10%; background: #f0f0f0; clear:left;}
.top-level-menu li:hover > ul {display: inline;}


/* Menu Link Styles */

.top-level-menu a 
{
    font-size: 130%;
	font-family: 'fonts/proxima-nova.otf', sans-serif;
    color: #8e959f;
    text-decoration: none;
	
    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 240%;
}
	
.top-level-menu a:hover { opacity: 0.65; }

.page {
	height: 57.8em;
	width: 70%;
	float: right;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-top: 5%;
	position: relative;
	clear: right;
	background-color: #e6e6e6;
}

.page > p {
	text-decoration: none; 
	font-size: 130%; 
	font-family: 'fonts/proxima-nova.otf', sans-serif; 
	font-weight: normal;
	padding: 5% 5% 5% 5%;
		
}



.menu {
	float:left; 
	clear: left;
	padding: 5% 0 5% 5%;
}
	
.pic1 {width: 45%; height: 35%; margin: 1.5% 2.5% 1.5% 2.5%; float: left;}
.pic1 > img {max-width: 100%; max-height: 100%;}
.pic2 {width: 45%; height: 35%; margin: 1.5% 2.5% 1.5% 2.5%; float: left;}
.pic2 > img {max-width: 100%; max-height: 100%;}
.pic3 {width: 45%; height: 35%; margin: 1.5% 2.5% 1.5% 2.5%; float: left;}
.pic3 > img {max-width: 100%; max-height: 100%;}
.pic4 {width: 45%; height: 35%; margin: 1.5% 2.5% 1.5% 2.5%; float: left;}
.pic4 > img {max-width: 100%; max-height: 100%;}

	
.container {
	float: right;
	clear: right;
	margin-right: 10%;
}

	
	
/*                                                            */


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container_form {
    padding: 16px;
	width: 70%;
	padding: 5% 15% 5% 15%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

span.psw {
	float: right;

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

